= link_to "Heavymetalcard", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Workstation Device', workstation_devices_path
    %li
      = link_to 'Workstation Camera', workstation_cameras_path
  - else
    %li
      = link_to 'Login', new_user_session_path
  - unless user_signed_in?
    %li
      = link_to 'Sign up', new_user_registration_path
- if user_signed_in?
  %ul.nav.pull-right
    %li.divider-vertical
    %li.dropdown
      %a{:href => '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'}}
        %strong
          %i.icon-cog
          %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => edit_user_registration_path}
            %strong= raw("#{current_user.name}")
            %br
            %small
              %i.icon-edit
              = "Edit settings"
        - if current_user.has_role? :admin
          %li.divider
          %li= link_to('Admin', users_path)
        %li.divider
          %li= link_to 'Logout', destroy_user_session_path, :method=>'delete', :confirm => "Are you sure you want to log out?", :title => "Log out"